.banner{    width: 100%;
    height: calc(100vh - 72px);
    position: relative;
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner__titulo{
    color: #fdfdfd;
    font-family: pacifico,cursive;
    position: absolute;
    left: 50%;
    top: 50%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    text-align: center;
    transform: translate(-50%,-50%);
}
@media screen and (min-width:0){
    .banner__titulo{
        font-size: 3rem;
    }
    .banner{
        height: calc(100vh-51px);
    }
 }
@media screen and (min-width:768px) {
    .banner__titulo{
        font-size: 5.1rem;
    }
    .banner{
        height: calc(100vh - 72px);
    }
}