.rodape{
    background-color: #bfbfbf;
    color: white;
   
    padding: 1.3rem 5rem;
    text-transform: lowercase;
}

@media screen and (min-width:0){
   .rodape{
    text-align: center;
   }
        }
     
@media screen and (min-width:768px){
        .rodape{
       text-align: right;}
    }